# Clerk Authentication Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWRhcHRpbmctYmFib29uLTczMjMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_NUeVX4ZjFd3dcGA0RlSewsD7pHUNjYcGrwztT52fav

# Clerk Custom Route Paths
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Backend API URL
NEXT_PUBLIC_BACKEND_URL=https://path-finder-backend-0rkz.onrender.com/
NEXT_PUBLIC_AI_SERVICE_URL=https://path-finder-ai-3c2j.onrender.com/
